{% extends "home/base_header.html" %}
<head>
    {% block unique_css %}
    {% load static %}
    <link href="{% static 'home/css/home.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Home Page</title>
    {% endblock %}
</head>
{% block content %}
    <div id="About">
        <h1>About me</h1>
        <div>

            <p>
                <img src="{% static 'home/pictures/PlaceHolder.png' %}" height="200" width="200">
                Derek is a passionate learner, and always looking forward to the next exciting thing. He doesn't
            hide from a challenge and enjoys the chance to learn something new. He has a variety of interest such
            as Japanese, gaming, climbing, and virtual reality.

                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

            </p>
        </div>
    </div>
    <div id="Projects">
        <h1>Check out my works!</h1>
        <p>Here is a highlight of some my works. Check of my full work <a href="{% url 'projects.html' %}">here</a></p>
        <div id="VRWorks" class="Works">
            <h2>Virtual Reality Project</h2>

                <ul>
                    <li id="UdacityCarnival"><a href="#"><img src="{% static 'home/pictures/PlaceHolder.png' %}" height="42" width ="42"></a></li>
                    <li id="UdacityApartment"><a href="#"><img src="{% static 'home/pictures/PlaceHolder.png' %}" height="42" width ="42"></a></li>
                    <li id="UdacityMaze"><a href="#"><img src="{% static 'home/pictures/PlaceHolder.png' %}" height="42" width = "42"></a></li>
                    <li id="UdacityPuzzler"><a href="#"><img src="{% static 'home/pictures/PlaceHolder.png' %}" height="42" width ="42"></a></li>
                </ul>
        </div>
        <div id="VRWorksDesc" class="Desc">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p id="UdacityCarnivalDesc">test3</p>
            <p id="UdacityApartmentDesc">test2</p>
            <p id="UdacityMazeDesc">test1</p>
            <p id="UdacityPuzzlerDesc">test</p>
        </div>
        <div id="PythonWorks"  class="Works">
            <h2>Python Projects</h2>
                <ul>
                     <li id="TutorialPolls"><a href="{% url 'polls:index' %}"><img src="{% static 'home/pictures/PlaceHolder.png' %}" height="42" width="42"></a></li>
                     <li id="WaniKaniProject"><a href="{% url 'wanikani:index' %}"><img src="{% static 'home/pictures/PlaceHolder.png' %}" height="42" width="42"></a></li>
                </ul>
        </div>
        <div class="Desc">
            <p id="TutorialPollsDesc">test4</p>
            <p id="WaniKaniProjectDesc">test5</p>
        </div>
    </div>
    <div id="footer">
        <p>Place holder text</p>
    </div>
{% endblock %}
{% block unique_js %}
{{ block.super }}
<script src="{% static 'wanikani/jquery-3.1.1.min.js' %}" chartset="utf-8">></script>
<script src="{% static 'home/js/home.js' %}"  rel="script"></script>
{% endblock %}
