#About img {
    float: right;
}

.container {
    position: relative;
    width: 50%;
}

.container:hover .middle {
  opacity: 1;
}


.Works img:hover {
    opacity: 0.3;
    transition: .5s ease;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}


#Projects{
    clear: both;
    text-align: center;
}

#content {
    padding-top: 70px;
    margin-left: 10px;
    padding-bottom: 5%;
}

#PythonWorks li, #VRWorks li{
    //list-style-type: none;
    display: inline;
}

#VRWorksDesc p{
    //display: none;
}

.hideDesc {
    display:none
}

h1 {
    text-align: center;
}