#About img {
    float: right;
}

#Projects{
    clear: both;
    text-align: center;
}

#content {
    padding-top: 70px;
    margin-left: 10px;
}

#PythonWorks li, #VRWorks li{
    //list-style-type: none;
    display: inline;
}

#VRWorksDesc p{
    //display: none;
}

.hideDesc {
    display:none
}

h1 {
    text-align: center;
}