.imageCenter {
    margin: 0 auto;
    display: block;
}

.imageSideBySideDiv {
    float: left;
    width: 50%;
}

.imageSideBySideDiv img {
    width: 100%
}

.kana {
    margin: 0 auto;
    display: inline-block;
}

#kanaContainer {
    text-align: center;
}

h1, h2, h3 {
    text-align: center;
}

.sideList {
    text-align: center;
    list-style: none;
}

.sideList li{
    float: none;
    //display: inline-block;

}

.clearFloat {
    clear:both
}