<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'wanikani/progress.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'wanikani:detail' %}">Home</a>
        <a href="{% url 'wanikani:comparison' %}">Comparison</a>
        <a href="{% url 'wanikani:chart' %}">Charts</a>
    </nav>
    <nav id="submenu">
        <a href="#jlpt">JLPT</a>
        <a href="#joyo">Joyo</a>
        <a href="#frequency">Frequency</a>
    </nav>
    <div id="jlpt">
        <ul>
        {% for level, values in request.session.kanji.jlpt.jlpt.items %}
            <h2>JLPT Level ({{ level }})</h2>
            <p>({{ values.user.user_number }}/{{ values.user.total_number }})</p>
            {% for kanji, rank in values.kanji.items %}
            <li class="{{ rank }}">{{  kanji }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
    <div id="joyo">
                <ul>
            {% for level, values in request.session.kanji.joyo.joyo.items %}
                <h2>Joyo Level ({{ level }})</h2>
                <p>({{ values.user.user_number }}/{{ values.user.total_number }})</p>
                {% for kanji, rank in values.kanji.items %}
                <li class="{{ rank }}">{{  kanji }}</li>
                {% endfor %}
            {% endfor %}
            </ul>
    </div>
    <div id="frequency">
                <ul>
            {% for level, values in request.session.kanji.frequency.frequency.items %}
                <h2>Frequency Level ({{ level }})</h2>
                <p>({{ values.user.user_number }}/{{ values.user.total_number }})</p>
                {% for kanji, rank in values.kanji.items %}
                <li class="{{ rank }}">{{  kanji }}</li>
                {% endfor %}
            {% endfor %}
            </ul>
    </div>
</body>
{% load static %}
{% load js %}
<script type="text/javascript" >
    var js_list = {{ request.session.kanji|js }};
    console.log(js_list)
</script>
<script src="{% static 'wanikani/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'wanikani/d3.js' %}"></script>
<script src="{% static 'wanikani/chart.js' %}"></script>
</html>