{% extends "wanikani/base_header.html" %}
    <title>{% block title %}WaniKani Breakdown{% endblock %}</title>

{% block unique_css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'wanikani/progress.css' %}">
{% endblock %}
{% block content %}
    <nav class="submenu">
            <ul class="nav navbar-nav navbar-left">
        <li><a href="#jlpt">JLPT</a></li>
        <li><a href="#joyo">Joyo</a></li>
        <li><a href="#frequency">Frequency</a></li>
            </ul>
    </nav>
    <div id="jlpt">
        <ul>
        {% for level, kanji_list in request.session.api.kanji.JLPT %}
            {% if "N" in level %}
                <h2>JLPT Level ({{ level }})</h2>
            <!--<p>({{ values.user.user_number }}/{{ values.user.total_number }})</p>-->
                {% for kanji in kanji_list %}
                <li class="{{ request.session.api.kanji.characters|lookup:kanji }}">{{  kanji }}</li>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    <div id="joyo">
                <ul>
            {% for level, kanji_list in request.session.api.kanji.JOYO %}
                <h2>Joyo Level ({{ level }})</h2>
                {% for kanji in kanji_list %}
                <li class="{{ request.session.api.kanji.characters|lookup:kanji }}">{{  kanji }}</li>
                {% endfor %}
            {% endfor %}
            </ul>
    </div>
    <div id="frequency">
                <ul>
            {% for level, kanji_list in request.session.api.kanji.FREQUENCY %}
                <h2>Frequency Level ({{ level }})</h2>
                {% for kanji in kanji_list %}
                <li class="{{ request.session.api.kanji.characters|lookup:kanji }}">{{  kanji }}</li>
                {% endfor %}
            {% endfor %}
            </ul>
    </div>
{% endblock %}

{% block unique_js %}
{{ block.super }}
{% load static %}
{% load js %}
<script type="text/javascript" >
    var js_list = {{ request.session.api|js }};
    console.log(js_list)
</script>
<script src="{% static 'wanikani/chart.js' %}"></script>
{% endblock %}
