{% extends "wanikani/base_header.html" %}
    <title>{% block title %}WaniKani Breakdown{% endblock %}</title>

{% block unique_css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'wanikani/progress.css' %}">
{% endblock %}
{% block content %}
    <nav class="submenu">
            <ul class="nav navbar-nav navbar-left">
        <li><a href="#jlpt">JLPT</a></li>
        <li><a href="#joyo">Joyo</a></li>
        <li><a href="#frequency">Frequency</a></li>
            </ul>
    </nav>
    <div id="jlpt">
        <ul>
        {% for level, values in request.session.kanji.jlpt.jlpt.items %}
            <h2>JLPT Level ({{ level }})</h2>
            <p>({{ values.user.user_number }}/{{ values.user.total_number }})</p>
            {% for kanji, rank in values.kanji.items %}
            <li class="{{ rank }}">{{  kanji }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
    <div id="joyo">
                <ul>
            {% for level, values in request.session.kanji.joyo.joyo.items %}
                <h2>Joyo Level ({{ level }})</h2>
                <p>({{ values.user.user_number }}/{{ values.user.total_number }})</p>
                {% for kanji, rank in values.kanji.items %}
                <li class="{{ rank }}">{{  kanji }}</li>
                {% endfor %}
            {% endfor %}
            </ul>
    </div>
    <div id="frequency">
                <ul>
            {% for level, values in request.session.kanji.frequency.frequency.items %}
                <h2>Frequency Level ({{ level }})</h2>
                <p>({{ values.user.user_number }}/{{ values.user.total_number }})</p>
                {% for kanji, rank in values.kanji.items %}
                <li class="{{ rank }}">{{  kanji }}</li>
                {% endfor %}
            {% endfor %}
            </ul>
    </div>
{% endblock %}

{% block unique_js %}
{% load static %}
{% load js %}
<script type="text/javascript" >
    var js_list = {{ request.session.kanji|js }};
    console.log(js_list)
</script>
<script src="{% static 'wanikani/chart.js' %}"></script>
{% endblock %}
