{% extends "wanikani/base_header.html" %}

<!-- Without the title block, the title in this html doesn't actually override the base html file. -->
<title>{% block title %}WaniKani Progression{% endblock %}</title>

<!-- Having the block here doesn't seem to affect anything, without it the css is still showing up in the header -->
{% block unique_css %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'wanikani/comparison.css' %}">
{% endblock %}

{% block content %}
    <div>
        <div class="compheader">
           <p>JLPT level Progress</p>
        </div>
        <div class="leftcomppanel">
            {% for level in request.session.api.kanji.counts.JLPT %}
            <svg id="fillgauge{{ level }}" width="15%" height="75" ><text x="25%" y="15" font-family="sans-serif" font-size="11px" fill="red">{{ level }}</text></svg>
            {% endfor %}
            <svg id="fillgaugeNTotal" width="15%" height="75" ><text x="22.5%" y="15" font-family="sans-serif" font-size="11px" fill="red">JLPT Total</text></svg>
        </div>
        <div class="rightcomppanel">
            <p>This section is for the JLPT completion</p>
        </div>
    </div>
    <div>
        <div class="compheader">
            <p>Joyo</p>
        </div>
        <div class="leftcomppanel">
            {% for level in request.session.api.kanji.counts.JOYO %}
            <svg id="fillgauge{{ level }}" width="11%" height="75" ><text x="30%" y="15" font-family="sans-serif" font-size="11px" fill="red"> {{ level }}</text></svg>
            {% endfor %}
            <svg id="fillgauge13" width="11%" height="75" ><text x="25%" y="15" font-family="sans-serif" font-size="11px" fill="red">Joyo Total</text></svg>
        </div>
        <div class="rightcomppanel">
            <p>This section is for the Joyo completion</p>
        </div>
    </div>
    <div>
        <div class="compheader">
        <p>Frequency</p>
        </div>
        <div class="leftcomppanel">
            {% for level in request.session.api.kanji.counts.FREQUENCY %}
            <svg id="fillgauge{{ level }}" width="15%" height="75" ><text x="20%" y="15" font-family="sans-serif" font-size="11px" fill="red">{{ level }}</text></svg>
            {% endfor %}
            <svg id="fillgaugefreqtotal" width="15%" height="75" ><text x="15%" y="15" font-family="sans-serif" font-size="11px" fill="red">Frequency Total</text></svg>
        </div>
        <div class="rightcomppanel">
            <p>This section is for the Frequency completion</p>
        </div>
    </div>
{% endblock %}
{% block unique_js %}
    {{ block.super }}
    {% load js %}
    {% load static %}
    <script type="text/javascript">
        var userJsonVar = {{ request.session.api.kanji.counts | js }};
        console.log(userJsonVar)
        var joyoTotal = 0;
        var userJoyoTotal = 0;
        for(var level in userJsonVar.JOYO) {
            userJoyoTotal += userJsonVar.JOYO[level].learned;
            joyoTotal += userJsonVar.JOYO[level].total;
        }

        console.log(userJoyoTotal, joyoTotal)

        var jlptTotal = 0;
        var userJlptTotal = 0;
        for(var level in userJsonVar.JLPT) {
            userJlptTotal += userJsonVar.JLPT[level].learned;
            jlptTotal += userJsonVar.JLPT[level].total;
        }

        var frequencyTotal = 0;
        var userFrequencyTotal = 0;
        for(var level in userJsonVar.FREQUENCY) {
            userFrequencyTotal += userJsonVar.FREQUENCY[level].learned;
            frequencyTotal += userJsonVar.FREQUENCY[level].total;
        }
    </script>
    <script src="{% static 'wanikani/liquidFillGauge.js' %}"></script>

    <script type="text/JavaScript">
        for (var level in userJsonVar.JLPT) {
            var config = liquidFillGaugeDefaultSettings();
            config.circleColor = "#FF7777";
            config.textColor = "#FF4444";
            config.textSize = .75;
            config.waveTextColor = "#FFAAAA";
            config.waveColor = "#FFDDDD";
            config.circleThickness = 0.2;
            //config.textVertPosition = 0.2;
            config.waveAnimateTime = 2000;
            config.maxValue = userJsonVar.JLPT[level].total;
            var gauge5 = loadLiquidFillGauge("fillgauge" + level, userJsonVar.JLPT[level].learned, config);
        }
        var config12 = liquidFillGaugeDefaultSettings();
        config12.circleColor = "#FF7777";
        config12.textColor = "#FF4444";
        config12.textSize = .75;
        config12.waveTextColor = "#FFAAAA";
        config12.waveColor = "#FFDDDD";
        config12.circleThickness = 0.2;
        //config12.textVertPosition = 0.2;
        config12.waveAnimateTime = 2000;
        config12.maxValue = jlptTotal;
        var gauge12 = loadLiquidFillGauge("fillgaugeNTotal", userJlptTotal, config12);

        for (level in userJsonVar.JOYO) {
            var config11 = liquidFillGaugeDefaultSettings();
            config11.circleColor = "#FF7777";
            config11.textColor = "#FF4444";
            config11.textSize = .75;
            config11.waveTextColor = "#FFAAAA";
            config11.waveColor = "#FFDDDD";
            config11.circleThickness = 0.2;
            //config11.textVertPosition = 0.2;
            config11.waveAnimateTime = 2000;
            config11.maxValue = userJsonVar.JOYO[level].total;
            var gauge11 = loadLiquidFillGauge("fillgauge" + level, userJsonVar.JOYO[level].learned, config11);
        }

        var config13 = liquidFillGaugeDefaultSettings();
        config13.circleColor = "#FF7777";
        config13.textColor = "#FF4444";
        config13.textSize = .75;
        config13.waveTextColor = "#FFAAAA";
        config13.waveColor = "#FFDDDD";
        config13.circleThickness = 0.2;
        //config12.textVertPosition = 0.2;
        config13.waveAnimateTime = 2000;
        config13.maxValue = joyoTotal;
        var gauge13 = loadLiquidFillGauge("fillgauge13", userJoyoTotal, config13);

        for (level in userJsonVar.FREQUENCY) {
            var configFreq1 = liquidFillGaugeDefaultSettings();
            configFreq1.circleColor = "#FF7777";
            configFreq1.textColor = "#FF4444";
            configFreq1.textSize = .75;
            configFreq1.waveTextColor = "#FFAAAA";
            configFreq1.waveColor = "#FFDDDD";
            configFreq1.circleThickness = 0.2;
            //config12.textVertPosition = 0.2;
            configFreq1.waveAnimateTime = 2000;
            configFreq1.maxValue = userJsonVar.FREQUENCY[level].total;
            var gaugeFreq1 = loadLiquidFillGauge("fillgauge" + level, userJsonVar.FREQUENCY[level].learned, configFreq1);
        }

        var configFreqtotal = liquidFillGaugeDefaultSettings();
        configFreqtotal.circleColor = "#FF7777";
        configFreqtotal.textColor = "#FF4444";
        configFreqtotal.textSize = .75;
        configFreqtotal.waveTextColor = "#FFAAAA";
        configFreqtotal.waveColor = "#FFDDDD";
        configFreqtotal.circleThickness = 0.2;
        //configtotal2.textVertPosition = 0.2;
        configFreqtotal.waveAnimateTime = 2000;
        configFreqtotal.maxValue = frequencyTotal;
        var gaugeFreqtotal = loadLiquidFillGauge("fillgaugefreqtotal", userFrequencyTotal, configFreqtotal);

     </script>
{% endblock %}
