<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WaniKani Home Page</title>

    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'wanikani/wanikani.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'wanikani/error.css' %}">
</head>
<body>

    <form onsubmit="return validateWanikaniApiKey()" action="{% url 'wanikani:progress' %}" method="post">
    {% csrf_token %}
    <div id="api_key_box">
        <h1>Welcome!</h1>
        <label>Please enter your wanikani api key: <input id="api_key_input" type="text" name="api_key" ></label>
        <input id="api_key_submit" type="submit" value="Submit">
    </div>
    </form>
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                 <p class="error">{{ message }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
    <script src="{% static 'wanikani/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'wanikani/index.js' %}"></script>
</body>
</html>

<!-- Dummy code that I want to save as a reference -->
<!--

    <ul id="progress">
        <p>Found API key...Loading data...</p>
        <li>
            <div id="layer1" class="ball"></div>
            <div id="layer6" class="pulse"></div>
        </li>
        <li>
            <div id="layer2" class="ball"></div>
            <div id="layer7" class="pulse"></div>
        </li>
        <li>
            <div id="layer3" class="ball"></div>
            <div id="layer8" class="pulse"></div>
        </li>
        <li>
            <div id="layer4" class="ball"></div>
            <div id="layer9" class="pulse"></div>
        </li>
        <li>
            <div id="layer5" class="ball"></div>
            <div id="layer10" class="pulse"></div>
        </li>

    </ul>
-->
