{% extends "home/base_header.html" %}
<head>
    {% load static %}
    {% block unique_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/projects.css' %}">
    {% endblock %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
    <div>
        <div>
        <h1>Preface</h1>
            <h3>Framework & languages used</h3>
                <ul class="sideList">
                    <li>Unity</li>
                    <li>GVR</li>
                </ul>
        </div>
        <div>
        <h1>What is the Udacity VR nano-degree?</h1>
                    <p>
                        Udacity offers a self-paced program that teaches people to develop for VR applications. As part
                        of Term 2, I needed to construct a small simon-says like puzzle project. The focus of this project
                        was user testing. You can find more
                        details about the program
                        <a href="https://www.udacity.com/course/vr-developer-nanodegree--nd017">here</a>
                    </p>
            <h2>Objective</h2>
                <p>
                    You can find my Medium write-up <a href="https://medium.com/@dsshar/puzzler-aca3a699e129">here</a>
                </p>
                <ul>
                    <li>Create a small VR experience.</li>
                    <li>Have the experience user tested</li>
                </ul>
        </div>

    </div>
    <div>
        <h1>Project</h1>
        <div>
        <p>
            Each user as an API key that I can use to gather the user information. So, the home page is asking for the
            user's key. Once they enter a valid key, the next screen is the statistics page.
        </p>
        <img class="imageCenter" src="{% static 'home/pictures/wanikani_pictures/WaniKaniProjectLogin.PNG' %}" height="200" width="500">
            </div>
        <div>
            <p>This page has three main sections. One section to give the general user statistics like current level and
                number of items learned, the next section to give the user's accuracy, and the last section is a graph
                showing the user's average time per level.</p>
            <img class="imageCenter" src="{% static 'home/pictures/wanikani_pictures/WaniKaniProjectStats1.PNG' %}" height="300" width="600">
            <img class="imageCenter" src="{% static 'home/pictures/wanikani_pictures/WaniKaniProjectStats2.PNG' %}" height="300" width="600">
            <img class="imageCenter" src="{% static 'home/pictures/wanikani_pictures/WaniKaniProjectStats3.PNG' %}" height="300" width="600">
        </div>
        <div>
            <p>After arriving at this page, the user can go to two additional pages: the comparison and charts page</p>
            <br>
            <p>For kanji, there are three popular group: one based on the Japanese Language Proficiency Test(JLPT),
            one decided by the Japanese Ministry of Education(Joyo), and one based on the frequency of kanji use(Freq).
            On the comparison screen, there is a data visualization of each grouping where the user has a level of 'guru'
            or higher for a given kanji. This way the user can clear see his or her current progress as a gauge.</p>
            <img class="imageCenter" src="{% static 'home/pictures/wanikani_pictures/WaniKaniProjectComparison.PNG' %}" height="350" width="600">
        </div>
    </div>
    {% endblock %}
</body>

