p {
    text-align: left;
}

h3 {
    font-weight: bold;
    text-align: center;
    color: #f100a1;
}

.container {
    margin-bottom: 1em;
    margin-left: 1em;
}

#test {
    background-color: #00aaff;
    background-image: linear-gradient(-30deg, #00aaff, #99ddff);
}

#test1 {
    float: right;
    color: red;
}

.compheader {
    clear: both;
}

.leftcomppanel {
    width: 70%;
    height: 50%;
    float:left;
}

.rightcomppanel {
    width: 20%;
    height: 50%;
    float:right;
    margin-right: 1em;
}

.wanikaniHeader li{
    display: inline;
}