p {
    color: blue;
    text-align: center;
}

#test {
    background-color: #00aaff;
    background-image: linear-gradient(-30deg, #00aaff, #99ddff);
}

#test1 {
    float: right;
    color: red;
}

.compheader {
    clear: both;
    color: red;
}

.leftcomppanel {
    width: 50%;
    height: 50%;
    float:left;
}

.rightcomppanel {
    width: 50%;
    height: 50%;
    float:right;
}

.wanikaniHeader li{
    display: inline;
}