.wanikaniHeader li{
    display: inline;
}

p {
    color: red;
    margin: 0 auto;
}

#jlpt ul li {
    border-radius: 4px;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset, 0 0 10px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: inline-block;
    margin: 1px;
    padding: 2px 4px;
    color: white
}

.unranked{
    background-color: #00aaff;
    background-image: linear-gradient(-30deg, #00aaff, #99ddff);
}

.apprentice{
    background-color: #00FF00;
    background-image: linear-gradient(-30deg, #00FF00, #99ddff);
}

.guru{
    background-color: #FF00FF;
    background-image: linear-gradient(-30deg, #FF00FF, #99ddff);
}

.master{
    background-color: #800000;
    background-image: linear-gradient(-30deg, #800000, #99ddff);
}

.enlighten{
    background-color: #FF0000;
    background-image: linear-gradient(-30deg, #FF0000, #99ddff);
}

.burned{
    background-color: #000000;
    background-image: linear-gradient(-30deg, #000000, #99ddff);
}

#selected {
    display: hidden
}

#submenu a{
    text-decoration: none
}

.hide {
    display: none
}