
#content {
    padding-top: 70px;
}

.levelStats {
    width: 50%;
    margin: 0 auto;
    font-weight: 700;
    //text-align: left;
}

#percentageChart {
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#percentageChart table {
    background-color: #D5D5D5;
    width: 50%;
    margin: 0 auto;
    border-radius:4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#percentageChart table, th, td {
    //border: 1px solid black;
    border-collapse: collapse;
    padding: 10px
}
th, td {
    padding: 5px;
    text-align: center;
    border-style: none;
}

th {
    font-size: 20px;
}

svg {
    display: block;
    margin: 0 auto;
}

.bar{
    fill: steelblue;
    padding: 3px;
}

.slowLevel:hover, .fastLevel:hover{
    fill: #434343;
}

.axis--x path {
    display:none;
    color:red;
}

.date-text {
    text-orientation: upright;
    text-anchor: middle;
    text-shadow: black 0.05em 0.01em 0em;
    fill: #93dd00;
}

.timeData{
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    text-orientation: upright;
    fill: #555;
    font-weight: bold;
    font-size: 12px;
}

.fastLevel{
    fill: #294ddb;
}

.slowLevel {
    fill: #dd0093;
}

body {
    background-color: #EFEFEF;
}

#slowest {
    fill: #dd0093;
}

.fastest {
    fill: #0093dd
}

.current {
    fill: green;
}

.removed {
    fill: #434343;
}

div span {
    color: #f100a1;
    font-weight: bold;
    text-align: right;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

h1 {
    text-align: center
}

#radicalCol {
    color: #0093DD;
    font-weight:bold
}

#kanjiCol {
    color: #FF36BC;
    font-weight:bold
}

#vocabCol{
    color: #9300DD;
    font-weight:bold
}

.headerCol{
    font-weight:bold
}

.tick {
    font-weight: 600;
}