.navbar-inverse {
    /* background-color : #999999;*/
    color: #EB009D;
}

.wanikani_header {
    color : #294ddb;
}

p {
    color : blue;
}


#content{
    padding-top: 10%;
}

div {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}