.navbar-inverse {
    /* background-color : #999999;*/
    color: #EB009D;
}

.wanikani_header {
    color : red;
}

p {
    color : blue;
}

#content {
    padding-top: 70px;
    padding-left: 10px;
}

#percentageChart {
    width:100%;
}
#percentageChart table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

.bar{
    fill: steelblue;
    padding: 3px;
}

.bar:hover, #Fastest:hover{
    fill: brown;
}

.axis--x path {
    display:none;
    color:red;
}

.date-text {
    text-orientation: upright;
    text-anchor: middle;
    text-shadow: black 0.15em 0.15em 0.15em;
    fill: white;
}

.timeData{
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    text-orientation: upright;
    fill: white;
}

.fastLevel{
    fill: red;
}

.slowLevel {
    fill:purple;
}

body {
    background-color: pink;
}

#slowest {
    fill: blue;
}

.fastest {
    fill: black
}

.current {
    fill: green;
}

.removed {
    fill: gray;
}